
<link href="{{ "/css/program.css" | prepend: site.baseurl }}" rel="stylesheet"> 
<link href="{{ "/css/fa.css" | prepend: site.baseurl }}" rel="stylesheet"> 

<!-- Begin Schedule Section -->
<section id="schedule" class="schedule">
    <div class="content-wrapper text-left">
        <div class="col-12">
            <section class="program section" id="program">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <h4>Friday, April 25, 2025 </h4>
                            <hr>
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3 col-4">
                                    <p class="time">08:30 - 09:30</p>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9 col-8">
                                    <p class="activity"><b>Registration</b></p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3 col-4">
                                    <p class="time">09:30 - 09:35</p>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9 col-8">
                                    <p class="text">
                                    <!--		<br><i>Session Chair: SC here</i><br>
                                        <br> 
                                    -->
                                    <b>Opening</b>
                                    <br>
                                    <i>Hoon Cho, Shalmali Joshi</i>
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3 col-4">
                                    <p class="time">09:35 - 10:25</p>
                                </div>
                                <div class="col-md-5 col-sm-5 col-xs-5 col-6">
                                    <p class="invited-speaker"><a href="https://mp2893.com/">Edward Choi</a></p>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 col-2">
                                    <button type="button" class="btn-keynote" data-toggle="collapse" data-target="#keynote1"> Keynote
                                        I</button>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 col-sm3 col-xs-3 col-4"></div>
                                <div class="col-md-9 col-sm9 col-xs-9 col-8"><div id="keynote1" class="collapse in" style="">
                                        <p class="text">
                                        <b>Training AI by Medical Data & Using AI on Medical Data: Privacy and Data-Quality</b>
                                        </p>
                                        <button class="btn-abstract" data-toggle="collapse" data-target="#collapsek1" aria-expanded="true"><i class="fas fa-pencil-alt" aria-hidden="true"></i>Abstract</button>
                                        <br>
                                        <div class="collapse" id="collapsek1" style="">
                                            <p class="text">
                                            Recent AI research and development is mostly data-driven science, which is based on an increasingly more circular relationship between models and data; good data lets us train good models, and good models let us construct good data. This relationship is also true in medical AI, which has two (among many) added challenges specific to the medical domain: privacy and data quality. In this talk, I will first talk about training a clinical-domain LLM with synthetic clinical text so as to minimize privacy risk. Next, I will talk about how to use LLMs to evaluate medical data, specifically structured data and unstructured text, to detect potential inconsistencies between the two modalities.
                                            </p>
                                        </div>
                                        <hr>
                                    </div></div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3 col-4">
                                    <p class="time">10:25 - 10:40</p>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9 col-8">
                                    <p class="activity">Coffee Break</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3 col-4">
                                    <p class="time">10:40 - 11:00</p>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9 col-8">
                                    <p class="text">
                                    <b>SQUiD: ultra-secure storage and analysis of genetic data for the advancement of precision medicine</b>
                                    <br>
                                    <i>Jacob Blindenbach*, Jiayi Kang, Seungwan Hong, Caline Karam, Thomas Lehner and Gamze Gürsoy</i>
                                    </p>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3 col-4">
                                    <p class="time">11:00 - 11:20</p>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9 col-8">
                                    <p class="text">
                                    <b>Secure and scalable gene expression quantification with pQuant</b>
                                    <br>
                                    <i>Seungwan Hong*, Conor Walker, Yoolim Choi and Gamze Gursoy</i>
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3 col-4">
                                    <p class="time">11:20 - 11:40</p>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9 col-8">
                                    <p class="text">
                                    <b>Beacon Reconstruction Attack: Reconstruction of genomes in genomic data-sharing beacons using summary statistics</b>
                                    <br>
                                    <i>Kousar Saleem, A. Ercument Cicek* and Sinem Sav</i>
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3 col-4">
                                    <p class="time">11:40 - 12:00</p>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9 col-8">
                                    <p class="text">
                                    <b>A Reinforcement Learning-based Approach for Dynamic Privacy Protection in Genomic Data Sharing Beacons</b>
                                    <br>
                                    <i>Masoud Poorghaffar Aghdam*, Sobhan Shukueian Tabrizi, Kerem Ayöz, Erman Ayday, Sinem Sav and A. Ercument Cicek</i>
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3 col-4">
                                    <p class="time">12:00 - 1:30</p>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9 col-8">
                                    <p class="activity">Lunch break</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3 col-4">
                                    <p class="time">1:30 - 2:20</p>
                                </div>
                                <div class="col-md-5 col-sm-5 col-xs-5 col-6">
                                    <p class="invited-speaker"><a href="https://k-miran.github.io/">Miran Kim
                                    </a></p>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 col-2">
                                    <button type="button" class="btn-keynote" data-toggle="collapse" data-target="#keynote2"> Keynote
                                        II</button>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 col-sm3 col-xs-3 col-4"></div>
                                <div class="col-md-9 col-sm9 col-xs-9 col-8"><div id="keynote2" class="collapse in" style="">
                                        <p class="text">
                                        <b>Homomorphic Encryption for Protecting Genomic Privacy</b>
                                        </p>
                                        <button class="btn-abstract" data-toggle="collapse" data-target="#collapsek2" aria-expanded="true"><i class="fas fa-pencil-alt" aria-hidden="true"></i>Abstract</button>
                                        <br>
                                        <div class="collapse" id="collapsek2" style="">
                                            <p class="text">
                                            TBA
                                            </p>
                                        </div>
                                        <hr>
                                    </div></div>
                            </div>


                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3 col-4">
                                    <p class="time">2:20 - 2:40</p>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9 col-8">
                                    <p class="text">
                                    <b>Secure and Federated Quantitative Trait Loci Mapping with privateQTL</b>
                                    <br>
                                    <i>Yoolim A. Choi*, Yebin Kim, Peihan Miao, Tuuli Lappalainen and Gamze Gürsoy</i>
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3 col-4">
                                    <p class="time">2:40 - 3:00</p>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9 col-8">
                                    <p class="text">
                                    <b>Multi-Center EVSS: Patient-Centric Privacy-Preserving Encrypted Vector Similarity Search with HE and PIR</b>
                                    <br>
                                    <i>Garam Lee*, Suyeong Park and Sulgi Kim</i>
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3 col-4">
                                    <p class="time">3:00 - 3:20</p>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9 col-8">
                                    <p class="text">
                                    <b>Shechi: A Secure Distributed Computation Compiler Based on Multiparty Homomorphic Encryption</b>
                                    <br>
                                    <i>Haris Smajlović, David Froelicher, Ariya Shajii, Bonnie Berger, Hyunghoon Cho and Ibrahim Numanagić*</i>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3 col-4">
                                    <p class="time">3:20 - 3:35</p>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9 col-8">
                                    <p class="activity">Closing</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row" style="text-align: left">
                                <div class="col-md-3 col-sm-3 col-xs-3 col-4">
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9 col-8">
                                <p>* Presenter</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
